

img{
min-height: 90vh;
min-width: 0vw;
margin-right: auto;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 30px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Imagem de circulo */
.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 50vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* text left the circle */
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #008CBA;
}